$margin: 5px;
$padding: 10px;


.ComponentA {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    &-Header {
        margin-bottom: $margin;
        background: #eee;
        font-size: 1.5em;
    }

    &-Body {
        padding-left: $padding;
    }

}
